/* color palette */
$first: #E0E1DD
$second: #778DA9
$third: #415A77
$fourth: #1b263b
$fifth: #0d1b2a

@import "../style"

body
	background-color: $first
	color: $fifth

.sidebar
	background: $second

.logo-items
	#lock-button, #sidebar-closer
		color: $third	
	.nav-name
		color: $fourth

.menu-title
	color:  $third
	.line
		background: $fourth

.item
	a
		color: $fifth
		&:hover
			color: $third

.sidebar-profile
	border: 2px solid $third
		radius: 1em

.navbar
	background: $second

.search-box
	border: 3px solid $fourth
		radius: 1rem
	background: $first
	color: $fifth

#themer
	background: $second
	color: $fourth